
/node_modules/
/dist/
/npm-debug.log
/.idea/
*.iml
/platforms/android/.idea/
/platforms/android/.gradle/
/platforms/android/android.iml
/platforms/android/local.properties
/platforms/android/gradle/
/platforms/android/build/
/platforms/android/app/app.iml
/platforms/android/app/build/